<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All students</title>
</head>

<body>
    <table border="1" width="25%" cellpadding="5" >
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Surname</td>
            <td>Group name</td>
        </tr>
            <tr th:each="student : ${students}">
                <td th:text="${student.getId()}">
                <td th:text="${student.getFirstName()}">
                <td th:text="${student.getLastName()}">
                <td th:text="${student.getGroup().getGroupName()}">
            </tr>
    </table>
</body>
</html>