<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <title>All lectures</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/groups">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Lectures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/students">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/teachers">Teachers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h2>
    <span class="badge bg-light text-dark">LECTURE LIST</span>
</h2>

<div class="container row justify-content-start col-1">
    <a class="btn btn-success" th:href="@{/lectures/new}" role="button">Add new</a>
</div>

<div class="container row justify-content-start col-6">

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>LECTURE NAME</th>
            <th>DESCRIPTION</th>
            <th>TEACHER SURNAME</th>
            <th>GROUP NAME</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lecture : ${lecturePage.content}">
            <td th:text="${lecture.getId()}">
            <td th:text="${lecture.getLectureName()}">
            <td th:text="${lecture.getDescription()}">
            <td th:text="${lecture.getTeacher().getLastName()}">
            <td th:text="${lecture.getGroup().getGroupName()}">
            <td>
                <a class="btn btn-success" th:href="@{/lectures/{id}/edit (id=${lecture.getId()})}">Edit</a>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/lectures/{id}(id=${lecture.getId()})}" th:object="${lecture}">
                    <button class="btn btn-success" type="submit" id="button-addon2">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Pagination bar"
         th:if="${lecturePage.totalPages > 0}">
        <ul class="pagination">
            <li class="page-item border border-success"
                th:each="pageNumber : ${pageNumbers}">
                <a class="page-link text-success"
                   th:href="@{/lectures(page=${pageNumber})}"
                   th:text="${pageNumber}">
                </a>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>